.App {
  margin: 10%;
}

table {
  margin-top: 20px;
  border-spacing: 0;
  border-collapse: collapse;


}
td {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}
tr { 
  padding: 0;
  margin: 0;
}

.left {
  border-left: 4px solid black;
}
.right {
  border-right: 4px solid black;
}
.bottom {
  border-bottom: 4px solid black;
}
.top {
  border-top: 4px solid black;
}

.visited {
  background-color: lightgreen;
}

.onpath {
  background-color: orange;
}
.end {
  background-color: red;
}

table {
  table-layout: fixed; 
}


